<div class="text-center">
    <div class="mb-5">
        <h1>My covid-19 application</h1>
        <p>Check the global covid results in real time all over the world</p>
        <img 
        style="width: 70%"
        src="https://firebasestorage.googleapis.com/v0/b/covid-19-db8a1.appspot.com/o/expensesfond.jpg?alt=media&token=e0f573ac-74cf-424f-bbeb-73235abe89ee"
        alt="covid-19 image"
        />
    </div>
    <button class="btn btn-info" (click)="covidService.signInWithGoogle()" >Sign In with Google</button>
</div>